@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@500|Lato|Open+Sans');

:root {
    --primary-color: #3e4d5c;
    --secondary-color: #272727;
    --accent1-color: #F7B07D;
    --accent2-color: #f2f2f2;

    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Lato", "Open Sans", Helvetica, sans-serif;

    --headline-color-on-white: #272727;
    --headline-color-on-color: #F7B07D;
    --paragraph-color-on-white: #272727;
    --paragraph-color-on-color: #f2f2f2;
    --paragraph-background-color: #3e4d5c;
    --nav-link-color: #F7B07D;
    --nav-background-color: #3e4d5c;
    --nav-hover-link-color: #f2f2f2;
    --nav-hover-background-color: #3e4d5c;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
  }

body {
    font-size: 18px;
    text-align: center;
}

header {
    width: 100%;
    display: inline-flex;
    background-color: var(--nav-background-color);
    justify-content: flex-start;
    align-items: center;
}

.header-logo {
    width: 100px;
    margin: -10px 0px -10px 15px;
}

nav {
    margin-left: 25px;
    font-family: var(--heading-font);
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    text-align: center;
}

nav ul {
    margin: auto 0 10px 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
}

nav a {
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
}
#home-section{
    max-width: 1200px;
    margin: 0 auto;
}

#home-hero{
    background-image: url("vscode-screenshot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
    width: 100%;
}

.hero-title{
    padding-top: 200px;
}

.hero-title h1, h2{
    color: var(--paragraph-color-on-color);
}

.hero-title h1{
    font-size: 3em;
    padding-bottom: 10px;
}

.home-paragraph{
    max-width: 50%;
    margin: 50px auto;
    text-align: justify;
}

.home-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--paragraph-color-on-color);
    margin-bottom: 60px;
}

.card1{
    display: grid;
    color: var(--paragraph-color-on-color);
    width: 400px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 4px 4px 8px black;
    transition: .25s ease-in-out;
    align-items: center;
    overflow: hidden;
    margin: 30px;
}

.card1 a{
    grid-area: 1/1/2/2;
}

.card1 h3{
    color: var(--paragraph-color-on-color);
    z-index: 2;
    grid-area: 1/1/2/2;
    font-size: 1.5em;
}

.card1 img{
    grid-area: 1/1/2/2;
    border-radius: 30px;
}

.card1:hover{
    transform: scale(1.03);
    box-shadow: 7px 7px 12px rgb(62, 62, 62);
}

.card2{
    display: grid;
    color: var(--paragraph-color-on-color);
    width: 400px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 4px 4px 8px black;
    transition: .4s;
    align-items: center;
    overflow: hidden;
    margin: 30px;
}

.card2 a{
    grid-area: 1/1/2/2;
}

.card2 h3{
    color: var(--paragraph-color-on-color);
    z-index: 1;
    grid-area: 1/1/2/2;
    font-size: 1.5em;
}

.card2 img{
    grid-area: 1/1/2/2;
    border-radius: 30px;
}

.card2:hover{
    transform: scale(1.03);
    box-shadow: 7px 7px 12px rgb(62, 62, 62);
}

footer {
    display: flex;
    padding: 50px 0;
    justify-content: space-evenly;
    background-color: var(--nav-background-color);

}

footer a{
    text-decoration: none;
    color: var(--nav-link-color)
}

footer h3{
    color: var(--paragraph-color-on-color);
}

footer a:hover{
    color: var(--nav-hover-link-color);
}

