@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@500|Lato|Open+Sans');

:root {
  --primary-color: #3e4d5c;
  --secondary-color: #272727;
  --accent1-color: #F7B07D;
  --accent2-color: #f2f2f2;

  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Lato", "Open Sans", Helvetica, sans-serif;

  --headline-color-on-white: #272727;
  --headline-color-on-color: #F7B07D;
  --paragraph-color-on-white: #272727;
  --paragraph-color-on-color: #f2f2f2;
  --paragraph-background-color: #3e4d5c;
  --nav-link-color: #F7B07D;
  --nav-background-color: #3e4d5c;
  --nav-hover-link-color: #f2f2f2;
  --nav-hover-background-color: #3e4d5c;
}

*{
    margin: 0;
    padding: 0;
}

body{
    padding: 4em;
    font-size: 18px;
    text-align: center;
}

header{
    max-width: 100%;
    margin: 0 auto 0 0;
    display: inline;
}

nav {
    font-family: var(--heading-font);
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: var(--nav-background-color);
  }
  
  nav ul {
    margin: auto 0 10px 0;
  }
  
  nav ul li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
  }
  
  nav a {
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    color: var(--nav-link-color);
  }

  nav a:hover{
      color: var(--nav-hover-link-color);
  }