@import url('https://fonts.googleapis.com/css?family=Timmana|Permanent+Marker|Didact+Gothic|Montserrat|Lato');

:root {
  --primary-color: #5eadbd;
  --secondary-color: #2c3236;
  --accent1-color: #f6db4b;
  --accent3-color: #D5EAEE;
  --accent2-color: #ffffff;

  --heading-font: 'Timmana', 'Didact Gothic', Arial;
  --paragraph-font: Montserrat, Lato, Helvetica, sans-serif;

  --headline-color-on-white: #2c3236;
  --headline-color-on-color: #2c3236;
  --paragraph-color-on-white: #2c3236;
  --paragraph-color-on-color: #2c3236;
  --paragraph-background-color: #5eadbd;
  --nav-link-color: #5eadbd;
  --nav-background-color: #ffffff;
  --nav-hover-link-color: #f6db4b;
  --nav-hover-background-color: #ffffff;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: 'Permanent Marker', 'Timmana', Arial, sans-serif;
  color: var(--headline-color-on-white);
}
h2, h3, h4, h5, h6 {
font-family: var(--heading-font);
color: var(--headline-color-on-white);
}

body {
  font-size: 18px;
  background-color: var(--accent2-color);
  margin: 0;
  padding: 0 0 4em 0;
}

#hero, #hero-box, #hero-img {
  max-width: 1920px!important;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

nav a {
  text-align: center;
  color: var(--nav-link-color);
  transition: .4s;
  padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#main-header {
  width: 100%;
  display: inline;
  position: fixed;
}

.header-logo {
  float: left;
  margin: 10px 15px 15px 10px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

nav {
  background-color: var(--nav-background-color);
  font-family: var(--heading-font);
  line-height: 2em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
  justify-content: left;
  height: 80px;
}

nav ul {
  margin: auto 0 10px 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
}

.border-gradient {
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #5eadbd, transparent);
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  color: var(--nav-link-color);
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
}

.social img {
  display: inline;
  padding-top: 15px;
}

#background {
  height: 725px;
  background-color: var(--accent3-color);
}

header {
  background-color: var(--accent2-color);
}

.book,
.join {
  background-color: var(--accent2-color);
  color: var(--paragraph-color-on-white);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: var(--accent2-color);
}

.msg {
  background-color: var(--accent2-color);
  line-height: 1.5em;
  padding: 35px;
}

footer {
  background-color: var(--accent2-color);
  margin-top: 200px;
}

.home-title {
  color: var(--headline-color-on-white);
  font-size: 24px;
  margin-top: 10px;
}

.button-box {
  width: fit-content;
  background-color: #5eadbd;
  margin: 0 auto;
  margin-top: 15px;
}

h4 {
  color: var(--paragraph-color-on-white);
}

.msg h2 {
  color: var(--header-color-on-white);
}

h2 {
  margin: 0;
}

.msg p {
  font-size: 18px;
  color: var(--paragraph-color-on-white);
  padding-bottom: 15px;
}
.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid #d9c2a3;
}
main section img {
  box-sizing: border-box;
}

footer h3 {
  color: var(--header-color-on-white);
  text-decoration: underline;
}

footer a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 25px 50px;
}

footer a:hover {
  color: var(--nav-hover-link-color);
}